html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.frame { 
  display: inline-block;
  width: 100%;
  height: 100%;
}

body { 
  margin:0 auto;
  float: left;
}

#objName{
  text-align: center;
  display: block;
  margin: 0 auto;
  font: "Times New Roman";
  font-size: 25px;
  float: right;
}

#left {
  width: 50px;
  float: left;
  display: inline-block;

}
#right {
  width: 50px;
  float: left;
  display: inline-block;

}
#canvasDiv {
  float: right;
  display: inline-block;
}
#form {
  float: left;
  display: inline-block;
}
canvas {
  position: absolute; 
  display: inline-block;
  width: 70%;
  height: 100%;
  float: right;
}

#myform {
    margin:0;
    width:100%;
    float: left;
    position:relative;
    padding-top: 5px;
    overflow-y:scroll; 
    height:720px;
}

label {
    width: 20em;
    float: left;
    margin-right: 0.5em;
    display: block;
    vertical-align: middle;
}
#btn {
    float:right;
}

fieldset {
    background:#EBF4FB none repeat scroll 0 0;
    border:2px solid #B7DDF2;
    width: 450px;
}

legend {
    color: #fff;
    background: #80D3E2;
    border: 1px solid #781351;
    padding: 2px 6px
}
.elements {
    padding:10px;
}

.labels {
  border: 2px solid #ccc; 
  width: 200px; 
  height: 100px; 
  overflow-y: scroll;
}

.fileName {
    border-bottom:1px; 
    solid #B7DDF2;
    color:#666666;
    font-size:12px;
    margin-bottom:20px;
    padding-bottom:10px;
    display: inline-block;
}
span {
    color:#666666;
    font-size:12px;
    margin-bottom:1px;
    
}
.btn{
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #B7DDF2;
  
}

.btn:hover{
  color: #333333;
  background-color: #e6e6e6;
}